.main {
  &-title {
    color: $Dark-Grayish-Blue;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.2rem;
  }
  &-desc {
    max-width: 850px;
    margin: 0 auto 3rem;
    text-align: center;
    color: $Grayish-Blue;
  }
  &-photo {
    width: 100%;
    display: block;
  }
  &-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
  &-info {
    align-self: center;
  }
  &-card {
    margin-bottom: 2.5rem;
    padding-left: 2rem;
  }
  &-sub {
    color: $Dark-Grayish-Blue;
    margin-bottom: 1.5rem;
  }
  &-sup {
    color: $Grayish-Blue;
  }
}
.mainb {
  &-title {
    color: $Dark-Grayish-Blue;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.2rem;
    margin-top: 7rem;
  }
  &-desc {
    max-width: 850px;
    margin: 0 auto 3rem;
    text-align: center;
    color: $Grayish-Blue;
  }
  &-device {
    width: 80%;
    display: block;
    margin: 2rem auto;
  }
}
.mainc {
  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 4rem;
  }
  &-img {
    margin-bottom: 1rem;
  }
  &-sup {
    color: $Dark-Grayish-Blue;
    padding-bottom: 1rem;
  }
  &-sub {
    color: $Grayish-Blue;
    margin-bottom: 3rem;
  }
}
.maind {
  &-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;
  }
  &-img {
    width: 100%;
    display: block;
    margin: 4rem 0;
  }
}
.maine {
  display: grid;
  place-items: center;
  margin: 5rem auto;
}
